body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-right: 5rem;
  width: 40.625rem;
  height: 21.875rem;
  background-color: white;
  background-image: url('/images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -28.125rem -12.5rem;
  border-radius: 1.25rem;
}

.main-image-container {
  position: relative;
  align-self: center;
  height: 20.625rem;
  overflow: hidden;
}

.main-image {
  position: absolute;
  width: 21.875rem;
  top: 3.125rem;
  left: -3.75rem;
}

.parcel-image-container {
  position: relative;
  width: 18.75rem;
}
.parcel-image {
  position: absolute;
  width: 9.375rem;
  top:9.375rem;
  left:-5rem;
}

.accordion-item {
  width: 17.5rem;
  padding-block: 0.938rem;
}

.accordion-title-container {
  display: flex;
}

.accordion-title {
  width: 18.75rem;
  color: hsl(237, 12%, 33%);
}

.accordion-icon {
  width:  0.938rem;
  height: 0.625rem;
}

.accordion-title:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

.panel {
  color: hsl(240, 6%, 50%);
}

.divider {
  height: 0.063rem;
  width: 100%;
  background-color: hsl(240, 5%, 91%);
}

footer {
  text-align: center;
}

@media screen and (max-width: 48.75rem) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    position: relative;
    height: fit-content;
    margin-top: 6.25rem;
    padding: 1.25rem;
    padding-bottom: 3.125rem;
    background-size: 80%;
    background-position: 1.875rem -8.75rem; 
  }
  
  .faq-title {
    text-align: center;
  }

  .parcel-image-container {
    height: 4.375rem;
    width: 100%;
  }

  .main-image-container {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .main-image {
    width: 80%;
    top: -7.5rem;
    left: 1.875rem; 
  }

  .parcel-image {
    position: absolute;
    width: 6.25rem;
    top: -3.75rem;
    left: 1.25rem;
  }
}